.productwrapper{
    display: flex;
    flex-flow: wrap;
    max-width: 1200px;
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
}
.imgcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.imgcontainer>figure {
    width: 100%;
    overflow: hidden;
    padding-top: 120%;
    position: relative;
}

.aspect-ratio{
    position: absolute;
    top: -5%;
    left: 0;

}
.imgshow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgshow > figure {
    width: 30%;
    overflow: hidden;
    cursor: pointer;
}
.productdescription {
    text-align: center;
    width: 50%;
    place-items: top center;
}

.grid {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
}
.grid>h1,.collection >h1 {
    width: 100%;
    text-align: center;

}

figure {
    height: 18rem;
    overflow: hidden;
}

.cardcontainer {
    width: 16rem;
    margin: 1rem;
    cursor: pointer;
}

.card {
    margin: 0;
}