.productwrapper{
    display: flex;
    flex-flow: wrap;
    max-width: 1200px;
    padding: 2rem 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.imgcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}
.imgcontainer>figure {
    width: 100%;
    overflow: hidden;
    padding-top: 120%;
    position: relative;
}

.aspect-ratio{
    position: absolute;
    top: -5%;

}
.imgshow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgshow > figure {
    width: 30%;
    overflow: hidden;
    cursor: pointer;
}
.productdescription {
    text-align: center;
    width: 50%;
    place-items: top center;
    padding: 0 1rem;
}

.grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1400px;
}
.grid>h1,.collection >h1 {
    width: 100%;
    text-align: center;

}

figure {
    height: 18rem;
    overflow: hidden;
}
.imgshow figure {
    height: auto;
}

.cardcontainer {
    width: 18rem;
    cursor: pointer;
}

.card {
    margin: 0;
}

@media only screen and (max-width: 660px) {
    .imgcontainer {
        width: 100%;
    }
    .productdescription {
        width: 100%;
    }
    .cardcontainer {
        margin: 0;
        width: auto;

    }
    .cardcontainer .card {
        width: 9rem;
        height: 19rem;
    }
    .cardcontainer figure {
        height: 12rem;
    }
    .cardcontainer .card-body {
        font-size: 0.8rem;
        padding: 0.3rem;
    }
    .cardcontainer h5 {
        font-size: 1rem;
        font-weight: 600;
    }
    .cardcontainer button {
        padding: 0.4rem;
        font-size: 0.7rem;
    }
    .card-text, .card-title {
        margin-bottom: 0.2rem;
    }
}