<div class="productwrapper">
  <section class="imgcontainer">
    <figure>
      <div class="aspect-ratio">
        <img
          [src]="product[0].imgdir + '/' + product[0].id + '-' + imgNo + '.jpg'"
          alt="Product Image"
        />
      </div>
    </figure>
    <div class="imgshow">
      <figure *ngFor="let img of imgshow;index as i">
        <img
          [attr.data-imgNo]="i+1"
          (click)="onImgChange($event.target)"
          [src]="img"
          alt="Product Image"
         
        />
      </figure>
    </div>
  </section>
  <section class="productdescription">
    <h2>{{ product[0].name }}</h2>
    <h3>-{{ product[0].id }}-</h3>
    <p>Giá: {{ product[0].price }}</p>
    <p style='text-align: left;'>Mô tả: {{ product[0].description }}</p>
    <button
      href="#"
      class="btn btn-secondary"
      (click)="addToCart(product); $event.stopPropagation()"
    >
      Mua sản phẩm
    </button>
  </section>
  <hr>
  <section class="grid ml-auto mr-auto mt-5">
    <h1>
      Sản phẩm nổi bật
    </h1>
    <div class="cardcontainer" data-aos='fade-up' *ngFor="let product of randompickproducts">
      <div
        class="card m-3"
        [routerLink]="['/products', product.id]"
        routerLinkActive="router-link-active"
      >
        <figure>
          <img
            [src]="product.imgdir + '/' + product.id + '-1.jpg'"
            class="card-img-top"
            alt="..."
          />
        </figure>
        <div class="card-body text-center pt-0">
          <h5 class="card-title mt-0">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.price }}
          </p>
          <button
            href="#"
            class="btn btn-primary"
            (click)="addToCart2(product);$event.stopPropagation()"
          >
            Mua sản phẩm
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
