.header {
    max-width: 800px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 25% 15% 25% 5%;
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 50px;
}

.body {
    max-width: 800px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 25%  15%  25%  5%;
    border-top: black 1px solid;
    grid-row: auto;
    align-items: center;
}

.delete {
    width: 20px;
    height: 20px;
    display: grid;
}
.body > *{
    margin :0;
}
.b-price {
    display: none;
}
figure {
    display: flex;
    align-items: center;
    padding: 1rem 0.2rem 1rem 2rem;

}
figure >img{
    width: 50px;
    height: 50px;
}
.increase, .decrease {
    border: none;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    background-image: url('../../assets/styling-vector/Arrow.svg');
    background-position: center;
    background-size: cover;
}

.decrease{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
    figure {
        flex-direction: column;
        padding-left: 0;
    }
}

@media only screen and (max-width: 550px) {
    .b-price{
        display: inline;
    }

    .price{
        display: none;
    }
    .header, .body {
        grid-template-columns: 42% 25% 23% 10%;
    }
}