<div
  class="collection mt-5 d-flex ml-auto mr-auto flex-wrap justify-content-center"
>
  <h1>
    Bộ Sưu Tập
  </h1>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaLanBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center">
        Bộ Sưu Tập Hoa Lan
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaDaiBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center">
        Bộ Sưu Tập Hoa Dại
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaHongBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center">
        Bộ Sưu Tập Hoa Hồng
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaSenBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center">
        Bộ Sưu Tập Hoa Sen
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaKhacBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center">
        Các Loại Hoa Khác
      </p>
    </div>
  </div>
</div>
<hr />
<div class="grid ml-auto mr-auto">
  <h1>
    Sản phẩm nổi bật
  </h1>
  <div *ngFor="let product of products; index as i">
    <div class="" *ngIf="product[7] == 'yes'">
      <div class="card m-3" style="width: 18rem;">
        <figure>
          <img
            [src]="product[3] + '/' + product[0] + '-1.jpg'"
            class="card-img-top"
            alt="..."
          />
        </figure>
        <div class="card-body text-center pt-0">
          <h5 class="card-title mt-0">{{ product[2] }}</h5>
          <p class="card-text">
            {{ product[4] }}
          </p>
          <button href="#" class="btn btn-primary" (click)="addToCart(product)">
            Mua sản phẩm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
