.callforaction {
    display: flex;
    max-width: 1400px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.callforaction > figure {
    height: 80vh;
    width: 50%;
    padding-top: 30px;
    overflow: visible;
}
.message {
    width:30vw;
    text-align: justify;

}
.message>h2 {
    padding: 2rem;
}

.collection {
    max-width: 1200px;

}
.collection > .card {
    width: 18rem;
}
.card {
    margin: 1rem;
    overflow: hidden;
    width: 16rem;
    cursor: pointer;
}
.cardcontainer {
    margin: 1.2rem;
}
.grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1400px;
}


.grid>h1,.collection >h1 {
    width: 100%;
    text-align: center;

}

figure {
    height: 18rem;
    overflow: hidden;
}

h5 {
    font-weight: bold;
}

@media only screen and (max-width: 990px) {
    .message>h2 {
        font-size: 1.5rem;
    }
    .callforaction > figure {
        height: 60vh;
    }
}
@media only screen and (max-width: 767px) {
    .message>h2 {
        font-size: 1.5rem;
        padding: 0;
    }
    .callforaction > figure{
        width: 80vw;
        height: auto;
    }
    .message {
        width: 70vw;
    }
    .callforaction{
      flex-direction: column;
    }
}

@media only screen and (max-width: 660px) {
    .collection > .card {
        width: 10rem;
    }
    .collection .card-body {
        padding: 1rem;
    }
    .collection h5 {
        font-size: unset;
        }
    .cardcontainer {
        margin: 0;
    }
    .cardcontainer .card {
        width: 10rem;
    }
    .cardcontainer figure {
        height: 12rem;
    }
    .cardcontainer .card-body {
        font-size: smaller;
        padding: 0.8rem;
    }
    .cardcontainer h5 {
        font-size: large;
    }
    .cardcontainer button {
        padding: 0.4rem;
    }
}
