<section class="callforaction ml-auto mr-auto">
  <figure>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class='d-block'src="assets/background-plant.png" width="100%" height="auto" alt="">
        </div>
        <div class="carousel-item">
          <img class='d-block'src="assets/background-plant2.png" width="100%" height="auto" alt="">
        </div>
        <div class="carousel-item">
          <img class='d-block'src="assets/background-plant3.png" width="100%" height="auto" alt="">
        </div>
      </div>
    </div>
  </figure>
  <div class="message d-flex flex-column justify-content-center"><h2>Bạn muốn tìm một món quà dành tặng cho người thân hoặc để trang trí cho nhà ở, nơi làm việc?</h2>
    <button class='btn btn-dark text-bold ml-auto mr-auto' [routerLink]="['/products']" routerLinkActive="router-link-active" >Mua ngay</button></div>
</section>
<section
  class="collection mt-5 d-flex ml-auto mr-auto flex-wrap justify-content-center"
>
  <h1>
    Bộ Sưu Tập
  </h1>
  <div class="card" data-aos='zoom-in-up' href='#' data-filter="hoalan" (click)='onfilter($event.currentTarget)'>
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaLanBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body" >
      <h5 class="card-text text-center">
        Bộ Sưu Tập Hoa Lan
      </h5>
    </div>
  </div>
  <div class="card" data-aos='zoom-in-up'  href='#' data-filter="hoadai" (click)='onfilter($event.currentTarget)'>
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaDaiBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body" >
      <h5 class="card-text text-center">
        Bộ Sưu Tập Hoa Dại
      </h5>
    </div>
  </div>
  <div class="card" data-aos='zoom-in-up'  href='#' data-filter="hoahong" (click)='onfilter($event.currentTarget)'>
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaHongBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body" >
      <h5 class="card-text text-center">
        Bộ Sưu Tập Hoa Hồng
      </h5>
    </div>
  </div>
  <div class="card" data-aos='zoom-in-up' href='#' data-filter="hoasen" (click)='onfilter($event.currentTarget)'>
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaSenBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body" >
      <h5 class="card-text text-center">
        Bộ Sưu Tập Hoa Sen
      </h5>
    </div>
  </div>
  <div class="card" data-aos='zoom-in-up'  href='#' data-filter="hoakhac" (click)='onfilter($event.currentTarget)'>
    <img
      class="card-img-top"
      src="assets/nhhoa/BoSuuTap/HoaKhacBST.jpg"
      alt="Card image cap"
    />
    <div class="card-body" >
      <h5 class="card-text text-center">
        Các Loại Hoa Khác
      </h5>
    </div>
  </div>
</section>
<hr />
<section class="grid ml-auto mr-auto">
  <h1>
    Sản phẩm nổi bật
  </h1>
  <div class='cardcontainer' data-aos='fade-up' data-aos-duration="1000" data-aos-once="true" *ngFor="let product of randompickproducts; index as i">
      <div class="card m-3"  [routerLink]="['/products',product.id]" routerLinkActive="router-link-active">
        <figure>
          <img
            [src]="product.imgdir + '/' + product.id + '-1.jpg'"
            class="card-img-top"
            alt="product.name"
          />
        </figure>
        <div class="card-body text-center pt-0">
          <h5 class="card-title mt-0">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.price }}
          </p>
          <button href="#" class="btn btn-primary" (click)="addToCart(product);$event.stopPropagation()">
            Mua sản phẩm
          </button>
        </div>
      </div>

  </div>
</section>
