.callforaction {
    display: flex;
    max-width: 1400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.callforaction > figure {
    height: 80vh;
    padding-top: 30px;
}
.message {
    width:30vw;
    text-align: justify;

}
.message>h2 {
    padding: 2rem;
}

.collection {
    max-width: 1200px;

}
.card {
    margin: 1rem;
}

.grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
}


.grid>h1,.collection >h1 {
    width: 100%;
    text-align: center;

}

figure {
    height: 18rem;
    overflow: hidden;
}