<div class="wrapper fixed-top">
  <nav class="navbar navbar-expand-md navbar-light  ml-auto mr-auto pt-0 ">
    <a class="navbar-brand p-0 pt-2" [routerLink]="['/home']" routerLinkActive="router-link-active" ><figure><img src="assets/Logo-transparent.png" width="110px" height="auto" id="bigscreenlogo" alt="Qua Tang Me Lam Logo"><img src="assets/Logo-transparent-noname.png" width="65px" height="auto" id="smallscreenlogo" alt="Qua Tang Me Lam Logo"></figure> </a>
    <span class="brandname">Quà Tặng Mẹ Làm</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse align-self-baseline justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-around menu mr-3 mt-2">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".navbar-collapse.show">Trang chủ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" >Giới thiệu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['/products']" routerLinkActive="router-link-active"  id="navbarDropdown" role="button" data-toggle="collapse" data-target=".navbar-collapse.show" aria-haspopup="true" aria-expanded="false">
            Sản phẩm
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" >Bộ sưu tập Hoa Lan</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" >Bộ sưu tập Hoa Hồng</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" >Bộ sưu tập Hoa Sen</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" >Các loại hoa khác</a>
          </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" >Liên hệ</a>
        </li>
        <li class="nav-item checkout">
          <a class="nav-link" [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="d-flex " ><img src="assets/icons/cartIcon.png" width="20px" height="20px"/><div class="showcart" >{{thecart}}</div> 	&nbsp;&nbsp; <span>Giỏ hàng</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="float-checkout">
    <a class="" [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="d-flex ml-auto mr-auto mt-auto mb-2" ><img src="assets/icons/cartIcon.png" width="20px" height="20px"/><div class="showcart" >{{thecart}}</div> 	&nbsp;&nbsp; <span>Giỏ hàng</span></a>
  </div>
</div>