.wrapper {
    width:100%;
    background-color:#f2f2f2;
}
.showcart {
    position: absolute;
    top: 0;
    margin-left: 15px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    color: white;
    text-align: center;
}

nav {
    color: black;
    max-width: 1200px;
    background-image: url('../../assets/styling-vector/menu-styling.svg');
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: top right;
    
}
.checkout {
    padding-left: 1.5rem;
}
.float-checkout{
    display: none;
}
a{
    color:rgb(0, 0, 0) !important;
    font-weight: bold;
    padding: 0px 0 10px;
}
a:hover {
    color: white !important;
    text-decoration: none;
}
.dropdown-menu > a {
    color:black !important;
}
.navbar-brand {
    margin-bottom: -20px;
}

#smallscreenlogo {
    display: none;
}
.brandname {
    display:none;
}
.menu {
    width: 650px;
}
ul li:last-child{
    margin-left: -20px;
}

@media only screen and (max-width: 767px) {
    .menuwrapper{
        background: none;
    }

    .showcart {
        position: absolute;
        top: auto;
        bottom: 30px;
        margin-left: 15px;
        background-color: rgba(255, 0, 0, 0.8);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 11px;
        color: white;
        text-align: center;
    }

    nav{
        background: none;
    }
    #bigscreenlogo{
        display:none;
    }
    .brandname{
        display: inline;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .navbar-brand{
        margin-bottom: 0px;
    }

    #smallscreenlogo {
        display:inline;
        margin: -20px -24px -30px -5px;
    }

    .wrapper{
        box-shadow: 0px 0px 7px ;
    }

    a{
        color:black !important;
    }
    a:hover {
        color: grey !important;
    }
    .menu {
        width: 100%;
    }

    ul li:last-child{
        margin-left: 0px;
    }
    .checkout {
        display: none;
    }
    .float-checkout {
        position: fixed;
        display: flex;
        place-items: center;
        bottom:20px;
        right: 10px;
        background-color: rgb(94, 189, 221);
        border-radius: 50%;
        width: 55px;
        height: 55px;
        animation: checkoutfloating 1.5s   infinite;
        transition: ease-in-out;
    }
    .float-checkout span{
        display: none;
    }
    .float-checkout .showcart {
        bottom: 25px;
    }
    .float-checkout >a {
        padding: 0;
    }
    @keyframes checkoutfloating {
        0%{bottom:20px}
        50%{bottom:30px}
        100%{bottom:20px}
    }
  }