<div class="wrapper sticky-top">
  <nav class="navbar navbar-expand-sm navbar-light  ml-auto mr-auto ">
    <a class="navbar-brand" href="#"><figure><img src="assets/Logo-transparent.png" width="110px" height="auto" id="bigscreenlogo" alt="Qua Tang Me Lam Logo"><img src="assets/Logo-transparent-noname.png" width="65px" height="auto" id="smallscreenlogo" alt="Qua Tang Me Lam Logo"></figure> </a>
    <span class="brandname">Quà Tặng Mẹ Làm</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse align-self-baseline justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-around menu">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Trang chủ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"[routerLink]="['/catalog']" routerLinkActive="router-link-active"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sản phẩm
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bộ sưu tập Hoa Lan</a>
            <a class="dropdown-item" href="#">Bộ sưu tập Hoa Hồng</a>
            <a class="dropdown-item" href="#">Bộ sưu tập Hoa Sen</a>
            <a class="dropdown-item" href="#">Bộ sưu tập Hoa Dại</a>
            <a class="dropdown-item" href="#">Các loại hoa khác</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
      </ul>
    </div>
  </nav>
</div>