.wrapper {
    width:100%;
    background-color:#f3f3f3;
}
.menuwrapper{
    background-image: url('../../assets/styling-vector/menu-styling.svg');
    background-size: percentage(auto,100%);
    background-repeat: no-repeat;
    background-position: right;
}
nav {
    color: black;
    max-width: 1200px;
}
a{
    color:white !important;
    font-weight: 600;
}
a:hover {
    color: grey !important;
}
.dropdown-menu > a {
    color:black !important;
}
.navbar-brand {
    margin-bottom: -20px;
}

#smallscreenlogo {
    display: none;
}
.brandname {
    display:none;
}
.menu {
    width: 400px;
}
@media only screen and (max-width: 767px) {
    .menuwrapper{
        background: none;
    }
    #bigscreenlogo{
        display:none;
    }
    .brandname{
        display: inline;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .navbar-brand{
        margin-bottom: 0px;
    }

    #smallscreenlogo {
        display:inline;
        margin: -20px 0 -30px -5px;
    }

    .wrapper{
        box-shadow: 0px 0px 7px ;
    }

    a{
        color:black !important;
    }
    a:hover {
        color: grey !important;
    }
  }