<div class="catalogwrapper d-flex">
  <div class="filterwrapper">
    <h3>Bộ lọc sản phẩm:</h3>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio1"
        value="all"
        [checked]='checkedradio[0][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio1">
        Tất cả sản phẩm
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio2"
        value="hoalan"
        [checked]='checkedradio[1][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio2">
        Bộ Sưu Tập Hoa Lan
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio3"
        value="hoahong"
        [checked]='checkedradio[2][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio3">
        Bộ Sưu Tập Hoa Hồng
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio4"
        value="hoasen"
        [checked]='checkedradio[3][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio4">
        Bộ Sưu Tập Hoa Sen
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio5"
        value="hoadai"
        [checked]='checkedradio[4][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio5">
        Bộ Sưu Tập Hoa Dại
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Radio"
        id="Radio6"
        value="hoakhac"
        [checked]='checkedradio[5][1]'
        (change)="onfilterchange($event.target.value)"
      />
      <label class="form-check-label" for="Radio6">
        Các loại hoa khác
      </label>
    </div>

    
  </div>
  <div class="grid ml-auto mr-auto">
    <h1>
      Các sản phẩm
    </h1>
    <nav aria-label="..." class="w-100 d-flex justify-content-center">
      <ul class="pagination" >
        <li *ngFor="let page of paging; index as i" [className]="page[0] ? 'active page-item':'page-item'" (click)='onpagechange(i)' ><a class="page-link">{{page[1]}}</a></li>
      </ul>
    </nav>
    <div data-aos="fade-up" data-aos-duration='1000' data-aos-once="true" *ngFor="let product of productsShow; index as i">
      <div class="card m-3" [routerLink]="['/products',product.id]" routerLinkActive="router-link-active" >
        <figure>
          <div class="onhover">Xem chi tiết</div>
          <img
            [src]="product.imgdir + '/' + product.id + '-1.jpg'"
            class="card-img-top"
            alt="..."
          />
          
        </figure>
        <div class="card-body text-center pt-0">
          <h5 class="card-title mt-0">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.price }}
          </p>
          <button href="#" class="btn btn-primary" (click)="addToCart(product);$event.stopPropagation()">
            Mua sản phẩm
          </button>
        </div>
      </div>
    </div>
    <nav aria-label="..." class="w-100 d-flex justify-content-center">
      <ul class="pagination" >
        <li *ngFor="let page of paging; index as i" [className]="page[0] ? 'active page-item':'page-item'" (click)='onpagechange(i)' ><a class="page-link">{{page[1]}}</a></li>
      </ul>
    </nav>
  </div>
</div>
