<div class="grid ml-auto mr-auto">
  <h1>
    Các sản phẩm
  </h1>
  <div *ngFor="let product of products; index as i">
    <div class="card m-3" style="width: 18rem;">
      <figure>
        <img
          [src]="product[3] + '/' + product[0] + '-1.jpg'"
          class="card-img-top"
          alt="..."
        />
      </figure>
      <div class="card-body text-center pt-0">
        <h5 class="card-title mt-0">{{ product[2] }}</h5>
        <p class="card-text">
          {{ product[4] }}
        </p>
        <button href="#" class="btn btn-primary" (click)="addToCart(product)">Mua sản phẩm</button>
      </div>
    </div>
  </div>
</div>
