.catalogwrapper{
    max-width: 1400px;
    margin: auto;
    margin-top: 98.6px;
}
.pagination li {
    cursor: pointer;
}
.filterwrapper {
    flex:1;
    padding:2rem ;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 15px;
}
.form-check {
    margin-bottom: 1rem;
}
.grid {
    flex:4;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding-top: 2rem;
    border-radius: 15px;
    background-color: #fff;
}

.grid >h1 {
    width: 100%;
    text-align: center;

}

figure {
    height: 18rem;
    overflow: hidden;
    position: relative;
}

.onhover {
    width: 100%;
    position: absolute;
    visibility: hidden;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* opacity: 0.8; */
    height: 100%;
    z-index: 1;
}
.card:hover .onhover {
    visibility: visible;
}
.card {
    cursor: pointer;
    width: 18rem;
}

@media only screen and (max-width: 990px) {
    .catalogwrapper{
        flex-direction: column;
        margin-top: 70px;
    }
    .filterwrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .filterwrapper>h3 {
        width: 100%;
        grid-column: 1/-1;
        text-align: center;
    }
    .filterwrapper >.form-check {
        margin-bottom: 0.2rem;
    }
}
@media only screen and (max-width: 660px) {
    .card{
        width: 9rem;
        height: 17.5rem;
    }
    .card-body {
        padding: 0.5rem;
    }
    .card-body h5 {
        font-size: 1rem;
        font-weight: 600;
    }
    .card-text {
        font-size: 0.7rem;
    }
    .card button {
        font-size: 0.8rem;
    }
    figure {
        height: 10rem;
        margin-bottom: 0.4rem;
    }
    .filterwrapper{
        padding-left: 3.5rem;
        padding-top: 1rem;
    }
}